<!-- (c) Barun Kharel <kharelbarun@gmail.com> -->

<style>

#content {
	height: 100vh;
	overflow-y: scroll;
}

#content {
	display: flex;
	align-items: center;
	background-color: #f5f5f5;
}

.form-signin {
	max-width: 330px;
	padding: 15px;
}

.form-signin .form-floating:focus-within {
	z-index: 2;
}

.form-signin #input-username {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.form-signin #input-password {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.form-floating > .form-control ~ label {
	opacity: .65;
}

</style>

<div id="content" class="text-center">
	<main class="form-signin w-100 mx-auto">
		<form novalidate
			[formGroup]="signInForm"
			[ngClass]="{'was-validated': wasValidated}"
			(ngSubmit)="handleSubmit()"
		>
			<h1 class="h3 mb-3 fw-normal">Please sign in</h1>
			<div class="mb-3">
				<div class="form-floating">
					<input type="text" required class="form-control" id="input-username" placeholder=""
						formControlName="username"
						[ngClass]="{'is-invalid': signInForm.dirty && signInForm.get('username')?.invalid}"
					>
					<label for="input-username">Username</label>
				</div>
				<div class="form-floating">
					<input type="password" required class="form-control" id="input-password" placeholder=""
						formControlName="password"
					>
					<label for="input-password">Password</label>
				</div>
			</div>
			<button type="submit"
				class="w-100 btn btn-lg btn-primary"
				[disabled]="apiRequestInProgress"
			>
				<ng-container *ngIf="apiRequestInProgress; else signInText">
					<span class="spinner-border spinner-border-sm"></span>
					Signing In...
				</ng-container>
				<ng-template #signInText>
					<span>Sign in</span>
				</ng-template>
			</button>
			<ng-container *ngIf="errorMessage">
				<div class="text-danger mt-3">{{ errorMessage }}</div>
			</ng-container>
		</form>
	</main>
</div>
	