<!-- (c) Barun Kharel <kharelbarun@gmail.com> -->

<div>
	<header class="navbar navbar-dark bg-dark sticky-top shadow">
		<a class="navbar-brand px-3 fs-6">Image Management</a>
		<div class="navbar-nav">
			<div class="nav-item text-nowrap">
				<a [routerLink]="'/sign-out'" class="nav-link px-3">Sign out</a>
			</div>
		</div>
	</header>
	<div class="container-fluid">
		<div class="row">
			<nav class="col-md-3 col-lg-2 bg-light sidebar">
				<div class="position-sticky pt-3 sidebar-sticky">
					<ul class="nav flex-column">
						<li class="nav-item">
							<a href="#" class="nav-link active">
								Images
							</a>
						</li>
					</ul>
				</div>
			</nav>
			<main class="col-md-9 col-lg-10 ms-sm-auto px-md-4">
				<div class="mb-3 border-bottom pt-3 pb-2">
					<h1 class="h2">Images</h1>
				</div>
				<div class="text-end">
					<a [routerLink]="['/image/new']" class="btn btn-outline-primary">Add Image</a>
				</div>
				<div class="table-responsive">
					<table class="table table-striped fade-on-delete">
						<thead>
							<tr>
								<th>Image</th>
								<th>Caption</th>
								<th>Alt text</th>
								<th>Title</th>
								<th style="min-width: 100px;">Actions</th>
							</tr>
						</thead>
						<tbody>
							<ng-container *ngIf="isApiRequestInProgress; else imageList">
								<tr>
									<td colspan="5" class="align-middle text-center" style="height: 200px;">
										Loading...
									</td>
								</tr>
							</ng-container>
							<ng-template #imageList>
								<ng-container *ngIf="images.length; else emptyImageList">
									<ng-container *ngFor="let image of images">
										<tr class="align-middle"
											[class]="{'just-deleted': justDeleted && (image===imageToDelete)}"
										>
											<td>
												<img [src]="image.url" style="max-width: 150px; max-height: 150px;">
											</td>
											<td>{{image.caption}}</td>
											<td>{{image.altText}}</td>
											<td>{{image.titleText}}</td>
											<td style="white-space: nowrap;">
												<a [routerLink]="['/image/',image.id,'edit']" href="#" class="btn btn-outline-secondary">Edit</a><!--
		
												-->&nbsp;<button type="button" class="btn btn-outline-danger"
													(click)="confirmDelete(image, deleteConfirmationModal)"
												>Delete</button>
											</td>
										</tr>
									</ng-container>
								</ng-container>
								<ng-template #emptyImageList>
									<tr>
										<td colspan="5" class="align-middle text-center" style="height: 200px;">
											No record available
										</td>
									</tr>
								</ng-template>
							</ng-template>
						</tbody>
					</table>
				</div>
			</main>
		</div>
	</div>
</div>
<ng-template #deleteConfirmationModal let-modal>
	<div class="modal-header">
		<h4 class="modal-title">Delete confirmation</h4>
		<button type="button" class="btn-close" (click)="modal.dismiss()"></button>
	</div>
	<div class="modal-body">
		<p>You are about to delete following image.</p>
		<div class="text-center">
			<img [src]="imageToDelete.url" class="img-fluid" style="max-height: 80vh;">
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-danger"
			[disabled]="isDeleteInProgress"
			(click)="handleDeleteClick(imageToDelete)"
		>
			<ng-container *ngIf="isDeleteInProgress">
				<span class="spinner-border spinner-border-sm"></span>
			</ng-container>
			Delete
		</button>
	</div>
</ng-template>
