<!-- (c) Barun Kharel <kharelbarun@gmail.com> -->

<style>

.preview-container {
	display: flex;
	flex-direction: column;
	aspect-ratio: 1/1;
	max-width: 50vw;
	margin-left: auto;
	margin-right: auto;
}

.preview-container > .preview-placeholder {
	height: 100%;
	border: 4px dashed #cccccc;
	padding: 16px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.preview-container > img {
	max-width: 100%;
	max-height: 100%;
	align-self: center;
}

</style>

<div>
	<header class="navbar navbar-dark bg-dark sticky-top shadow">
		<a class="navbar-brand px-3 fs-6">Image Management</a>
		<div class="navbar-nav">
			<div class="nav-item text-nowrap">
				<a [routerLink]="'/sign-out'" class="nav-link px-3">Sign out</a>
			</div>
		</div>
	</header>
	<div class="container-fluid">
		<div class="row">
			<nav class="col-md-3 col-lg-2 bg-light sidebar">
				<div class="position-sticky pt-3 sidebar-sticky">
					<ul class="nav flex-column">
						<li class="nav-item">
							<a [routerLink]="'/image'" href="#" class="nav-link active">
								Images
							</a>
						</li>
					</ul>
				</div>
			</nav>
			<main class="col-md-9 col-lg-10 ms-sm-auto px-md-4">
				<div class="mb-3 border-bottom pt-3 pb-2">
					<h1 class="h2">New Image</h1>
				</div>
				<div class="row">
					<div class="col-lg-6 col-xl-5">
						<div class="mb-3">
							<!-- <div class="form-label">Preview</div> -->
							<div class="preview-container">
								<ng-container *ngIf="previewUrl, else imageNotSelected">
									<img [src]="previewUrl">
								</ng-container>
								<ng-template #imageNotSelected>
									<div class="text-muted preview-placeholder">No file selected!</div>
								</ng-template>
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-xl-7">
						<form novalidate
							[formGroup]="imageNewForm"
							(submit)="handleSubmit()"
						>
							<div class="mb-3">
								<label class="form-label">File</label>
								<input type="file"
									accept="image/*"
									class="form-control"
									formControlName="file"
									(change)="handleFileSelect($event)"
								>
							</div>
							<div class="mb-3">
								<label class="form-label">Caption</label>
								<input class="form-control" formControlName="caption">
							</div>
							<div class="mb-3">
								<label class="form-label">Alt Text</label>
								<input class="form-control" formControlName="altText">
							</div>
							<div class="mb-3">
								<label class="form-label">Title Text</label>
								<input class="form-control" formControlName="titleText">
							</div>
							<div class="mb-3">
								<button type="submit" class="btn btn-primary" [disabled]="isSaveInProgress">
									<ng-container *ngIf="isSaveInProgress">
										<span class="spinner-border spinner-border-sm"></span>
									</ng-container>
									Save
								</button>
							</div>
							<ng-container *ngIf="successMessage">
								<ngb-alert #successAlert type="success" (closed)="successMessage = ''">
									{{ successMessage }}
								</ngb-alert>
							</ng-container>
							<ng-container *ngIf="failMessage">
								<ngb-alert #failAlert type="danger" (closed)="failMessage = ''">
									{{ failMessage }}
								</ngb-alert>
							</ng-container>
						</form>
					</div>
				</div>
			</main>
		</div>
	</div>
</div>
	