/*
 * (c) Barun Kharel <kharelbarun@gmail.com>
 */

/* You can add global styles to this file, and also import other style files */
.modal-content {
	max-height: calc(100vh - 2*1.75rem);
}

.modal-body {
	min-height: 0;
	overflow-y: scroll;
}

.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	z-index: 100;
	padding-top: 48px;
}

table.fade-on-delete tr {
	transition: all 0.8s linear;
}
table.fade-on-delete tr.just-deleted {
	opacity: 0;
}
