<!-- (c) Barun Kharel <kharelbarun@gmail.com> -->

<div>
	<header class="navbar navbar-dark bg-dark sticky-top shadow">
		<a class="navbar-brand px-3 fs-6">Image Management</a>
		<div class="navbar-nav">
			<div class="nav-item text-nowrap">
				<a [routerLink]="'/sign-out'" class="nav-link px-3">Sign out</a>
			</div>
		</div>
	</header>
	<div class="container-fluid">
		<div class="row">
			<nav class="col-md-3 col-lg-2 bg-light sidebar">
				<div class="position-sticky pt-3 sidebar-sticky">
					<ul class="nav flex-column">
						<li class="nav-item">
							<a [routerLink]="'/image'" href="#" class="nav-link active">
								Images
							</a>
						</li>
					</ul>
				</div>
			</nav>
			<main class="col-md-9 col-lg-10 ms-sm-auto px-md-4">
				<div class="mb-3 border-bottom pt-3 pb-2">
					<h1 class="h2">Edit Image</h1>
				</div>
				<ng-container *ngIf="image">
					<div class="row">
						<div class="col-lg-6 col-xl-4">
							<div class="mb-3">
								<img [src]="image.url" class="img-fluid">
							</div>
						</div>
						<div class="col-lg-6 col-xl-8">
							<form novalidate
								[formGroup]="imageEditForm"
								(submit)="handleSubmit()"
							>
								<div class="mb-3">
									<label class="form-label">Caption</label>
									<input class="form-control" formControlName="caption">
								</div>
								<div class="mb-3">
									<label class="form-label">Alt Text</label>
									<input class="form-control" formControlName="altText">
								</div>
								<div class="mb-3">
									<label class="form-label">Title Text</label>
									<input class="form-control" formControlName="titleText">
								</div>
								<div class="mb-3">
									<button type="submit" class="btn btn-primary" [disabled]="isApiRequestInProgress">
										<ng-container *ngIf="isApiRequestInProgress">
											<span class="spinner-border spinner-border-sm"></span>
										</ng-container>
										Save
									</button>
								</div>
								<ng-container *ngIf="successMessage">
									<ngb-alert #successAlert type="success" (closed)="successMessage = ''">
										{{ successMessage }}
									</ngb-alert>
								</ng-container>
								<ng-container *ngIf="failMessage">
									<ngb-alert #failAlert type="danger" (closed)="failMessage = ''">
										{{ failMessage }}
									</ngb-alert>
								</ng-container>
							</form>
						</div>
					</div>
			</ng-container>
			</main>
		</div>
	</div>
</div>
